<ion-view >
	<ion-content class="padding">
					<div class="dialog">
					<div class="logotop">
						<img id="logo_1" src='img/logo.png' > 
					</div>
					
					<div class="card" style="text-align:left">
					 	<div class="item item-divider">
						Kontakt
						</div>
	
						<div class="item item-text-wrap">
						Postanschrift:<br/>
						Schlichtungsstelle Nahverkehr<br/>
						Mintropstr. 27<br/>
						40215 Düsseldorf<br/>
						<br/>
						E-Mail: info@schlichtungsstelle-nahverkehr.de</br>
						Fax: 0211 - 380 9 678<br/>
						<br/>
						Schlichtungstelefon: 0211 - 380 9 380<br/>
						<br/>
						Unsere telefonischen Sprechzeiten:<br/>
						Montag bis Donnerstag 10:00 Uhr bis 12:00 Uhr<br/>
						oder nach Vereinbarung.
						</div>
					</div>
					
					<div class="card" style="text-align:left">
						<div class="item item-divider">
							Impressum
						</div>
	
						<div class="item item-text-wrap">
							Verein Schlichtungsstelle Nahverkehr e.V.<br/>
							Mintropstr. 27<br/>
							40215 Düsseldorf<br/>
							Tel: 0211 38 09 346<br/>
							Fax: 0211 38 09 678<br/>
							eingetragen beim Amtsgericht unter der<br/>
							Nummer VR 15471<br/>
							vertreten durch Vorstand Wolfgang<br/>
							Schuldzinski und Ulrich Jäger
						</div>
					</div>
					
					<div class="card" style="text-align:left">
						<div class="item item-divider">
							Rechtliche Hinweise
						</div>
	
						<div class="item item-text-wrap">
							Die in der Mobilitätsgarantie-App enthaltenen Informationen wurden sogfältig zusammengestellt. Für die Richtigkeit, Vollständigkeit und Aktualität wird jedoch keine Gewähr übernommen.<br/>
							Die Nutzung dieser App und das Herunterladen von Daten erfolgt auf eigene Gefahr. Die Schlichtungsstelle Nahverkehr schließt jegliche Haftung für Schäden, die direkt oder indirekt aus der Nutzung dieser App entstehen aus, soweit diese nicht auf Vorsatz oder grober Fahrlässigkeit beruhen und soweit Pflichtverletzungen keine vertragswesentlichen Pflichten betreffen, Leben, Gesundheit oder Körper betroffen, oder Ansprüche nach dem Produkthaftungsgesetz berührt sind.
						</div>
					</div>
					
					<div class="card" style="text-align:left">
						<div class="item item-divider">
							Erhebung und Verarbeitung<br/>personenbezogener Daten
						</div>
	
						<div class="item item-text-wrap">
							In der Mobilitätsgarantie-App können personenbezogenen Daten erfasst werden. Diese Daten werden in der App gespeichert und für das Ausfüllen des Erstattungsformulars und für die Meldung einer Unpünktlichkeit verwendet.
						</div>
					</div>
					
					<div class="card" style="text-align:left">
						<div class="item item-divider">
							Konzeption, Design und Realisierung
						</div>
	
						<div class="item item-text-wrap">
							HanseCom<br/>
							Public Transport Ticketing Solutions GmbH<br/>
							Weidestraße 120b<br/>
							D-22083 Hamburg<br/>
							<br/>
							T +49 (40) 27845-0<br/>
							F +49 (40) 27845-411<br/>
							office@hansecom.com<br/>
							www.hansecom.com
						</div>
					</div>
					<div style="height:130px">&nbsp;</div>
					</div>
	</ion-content>
</ion-view>