<ion-view >
	<ion-content class="padding">
					
					<div class="logotop">
						<img id="logo_1" src='img/logo.png' > 
					</div>
					
					<div class="list" style="text-align:left">
					<div class="item item-divider">
						Informationen zur Mobilitätsgarantie					
					</div>
					<a class="item " href="#" ng-click="open_pdflink(1)">
					  
					  <h2>Flyer<br/>Schlichtungsstelle Nahverkehr</h2>
					  <p>{{pdf1status}}</p>
					</a>
					<a class="item" href="#" ng-click="open_pdflink(2)">
					  
					  <h2>Verfahrensansordnung</h2>
					  <p>{{pdf2status}}</p>
					</a>
					</div>
					
	</ion-content>
</ion-view>