<ion-view >
	<ion-content class="padding">
					<div class="dialog">
					<div class="logotop">
						<img id="logo_1" src='img/logo.png' > 
					</div>
					
					<div class="dialog_question_description" style="margin-top:30px;width:85%;height:170px;">
						Wenn Sie weitere Fragen, Anregungen oder Wünsche haben,  wenn es trotzdem noch Schwierigkeiten mit der Mobilitätsgarantie gibt, dann wenden Sie sich gern an die Schlichtungsstelle Nahverkehr:<br/><a href="#" onclick="window.open('http://www.schlichtungsstelle-nahverkehr.de', '_system'); return false;">http://www.schlichtungsstelle-nahverkehr.de</a>
					</div>
					</div>
	</ion-content>
</ion-view>