<ion-view >
	<ion-content class="padding">
					<div class="logotop">
						<img id="logo_1" src='img/logo.png' > 
					</div>
					<div class='mainmenu'>	
						<a href="#/t/o1" class="button" id="but_1">Erstattungsanspruch prüfen</a>
						<a href="#/t/neuen" class="button" id="but_2">Neuer Erstattungsantrag</a>
						<a href="#/t/unpunktlich" class="button" id="but_3">Unpünktlichkeit melden</a>
						<a href="#/t/test" class="button" id="but_4">Schlichtungsstelle Nahverkehr</a>
					</div>
	</ion-content>
</ion-view>