<ion-view >
<ion-content>
			<div class="margintop" style="height:60px";>&nbsp;</div>
			<form name="neuenForm" id="neuenForm" novalidate="" > 
				
			<ion-list >
				<div ng-repeat="group in groups">	
				<ion-item class="item-stable"
                          ng-click="toggleGroup(group)"
                          ng-class="{active: isGroupShown(group)}">
                    <i class="icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>
                     
                    {{group.name}}
                </ion-item>
				<ion-item class="item-accordion"
                          ng-repeat="item in group.items"
                          ng-show="isGroupShown(group)">
							<div ng-if="item.type=='select'">
						    <label class="item item-input item-select">
								<div class="input-label">
								  {{item.placeholder}}
								</div>
								<select name="{{item.name}}">
										
										<option ng-selected="tarifraum == 'VRR'" value="VRR">Verkehrsverbund Rhein-Ruhr (VRR)</option>
										<option ng-selected="tarifraum == 'VGMVRL'" value="VGMVRL">Münsterland-/Ruhr-Lippe-Tarif (VGM/VRL)</option>
										<option ng-selected="tarifraum == 'VGWS'" value="VGWS">Verkehrsgemeinschaft Westfalen-Süd (VGWS)</option>
										<option ng-selected="tarifraum == 'VRS'" value="VRS">Verkehrsverbund Rhein-Sieg (VRS)</option>
										<option ng-selected="tarifraum == 'OWL'" value="OWL">Der Sechser (OWL Verkehr)</option>
										<option ng-selected="tarifraum == 'VGN'" value="VGN">Verkehrsgemeinschaft Niederrhein (VGN)</option>
										<option ng-selected="tarifraum == 'AVV'" value="AVV">Aachener Verkehrsverbund (AVV)</option>
										<option ng-selected="tarifraum == 'VPH'" value="VPH">Verkehrs-Servicegesellschaft Paderborn/Höxter (VPH)</option>
										<option ng-selected="tarifraum == 'NRW'" value="NRW">NRW-Tarif</option>
								</select>
							 </label>
						  </div>
						  <div ng-if="item.type=='textarea'">
							<label class="item item-input item-stacked-label">
									<span class="input-label">{{item.placeholder}}</span>
									<textarea rows=7 cols=60 name="{{item.name}}">{{item.value}}</textarea>
							</label>
						  </div>
						  <div ng-if="item.type=='checkbox'">
							<li class="item item-checkbox">
							 <label class="checkbox">
							   <input type="checkbox" name="{{item.name}}">
							 </label>
							 <span class="item-text-wrap" style="font-size:14px;">{{item.value}}</span>
						    </li>
						  </div>
						  <div ng-if="item.type=='date'">
							<label class="item item-input item-stacked-label">
									<span class="input-label">{{item.placeholder}}</span>
									<input type="date" name="{{item.name}}" value="{{item.value}}" size=40>
							</label>
						  </div>
						  <div ng-if="item.type!='select' && item.type!='textarea' &&  item.type!='checkbox' && item.type!='date' ">
							
							<div ng-if="item.name!='startpunkt'">
								<label class="item item-input item-stacked-label">
										<span class="input-label">{{item.placeholder}}</span>
										<input type="{{item.type}}" name="{{item.name}}" value="{{item.value}}" size=40>
								</label>
							</div>
							<div ng-if="item.name=='startpunkt'" >
								<div style="width:80%;float:left">
									<label class="item item-input item-stacked-label">
											<span class="input-label">{{item.placeholder}}</span>
											<input type="{{item.type}}" name="{{item.name}}" value="{{item.value}}" size=40>
									</label>
								</div>
								<div style="float:right">
									<button ng-click="showList()" class="button button-small icon ion-pinpoint" style="float:right;margin-left:10px;"></button>
								</div>
							</div>
						 
						  </div>
						  
						  
						  
                </ion-item>
				
				</div>
			<ion-item class="item-stable">
						
						<div class="item item-text-wrap">
							Wollen Sie ein Foto einfügen?
						</div>
						<div class="item item-text-wrap">
						 <button class="button button-small icon-left ion-ios-camera" ng-click="addImage(0)">Foto aufnehmen</button>
						 <button class="button button-small icon-left ion-images" ng-click="getImage(0);">Fotoarchiv</button> 
						<!--
						<button class="button button-small icon-left ion-camera" onclick="capturePhoto();">Capture Photo	</button> <button class="button button-small icon-left ion-images" onclick="getPhoto(pictureSource.SAVEDPHOTOALBUM);">Photo from Album</button> 
						-->
						</div>	
						
						<ion-list>
						  <ion-item ng-repeat="image in images">
							<img ng-src="{{urlForImage(image)}}" height="120px"
										width="120px"   />
							<button class="button button-small icon ion-trash-a" ng-click="images.splice($index, 1)" style="float:right;margin-left:10px;">
							 </button>
							
						  </ion-item>
						  
						</ion-list>

			</ion-item>
			</ion-list>
			
			
				
			

				<div style="height:60px"><p>&nbsp;</p></div>
			</form>
				
</ion-content>
</ion-view>