<ion-view >
	<ion-content class="padding">
	<div class="dialog">
				<div class="dialog_question">
					Abfahrtsverspätung laut Ankündigung größer als 20 min?
				</div>
				<div class="dialog_question_description">
					Es reicht aus, dass eine Verspätung von mindestens zwanzig Minuten oder ein Ausfall angekündigt ist. Sie müssen die zwanzig Minuten nicht abwarten. 
				</div>
				<div class="dialog_ja_nein">
					
					<a href="javascript:o1d1n();" id="button_nein">Nein</a>
					<a href="#/t/o12" id="button_ja">Ja</a>
				</div>
				<div id="dialog_description" class="dialog_description" style="display:none;height:130px">
					<span id="description"></span>
				</div>
				<div id="placeholder_bottom"></div>
</div>
</ion-content>
</ion-view>