<ion-view >
	<ion-content class="padding"><div class="dialog" style="height:600px;">
				<div class="dialog_question" style="height:100px;">
					Gibt es an Ihrer Haltestelle eine zumutbare Fahrtalternative mit Nahverkehrszug, Bus oder Straßen- bzw. U-Bahn?
				</div>
				<div class="dialog_description" id="dialog_question_description" >
					Die Fahralternative ist zumutbar, wenn Sie nicht mehr als 10 Minuten länger unterwegs sind.<br/>
					TIPP: Fahrplaninformationen erhalten Sie in der landesweiten Fahrplanauskunft über die APP „moFAHR“.
				</div>

				<div class="dialog_ja_nein" >
					<a href="javascript:o1d3By();" id="button_ja2">Ja</a>
					<a href="#/t/o14" id="button_nein2">Nein</a>
				</div>
				<div id="dialog_description" class="dialog_description" style="height:100px;display:none">
					<span id="description"></span>
				</div>
				<div style="height:50px"><p>&nbsp;</p></div>	
			
</div>
</ion-content>
</ion-view>