<ion-view >
	<ion-content class="padding"><div class="dialog">
				<div class="dialog_question" style="height:90px">
					Ausschlussgründe: Ist Streik, Unwetter, Naturgewalt oder eine Bombendrohungen ursächlich für die Verspätung?
				</div>
				<div class="dialog_question_description" style="height:130px">
					Informieren Sie sich über Radio, Fernsehen und Internet über Streikankündigungen und Unwetterwarnungen. Unwetter ist gegeben, wenn der Deutsche Wetterdienst eine Unwetterwarnung ausgegeben hat.  
				</div>
				<div class="dialog_ja_nein">
					<!-- <a href="javascript:o1d4n();" id="button_nein">Nein</a> -->
					<a href="#/t/o15" id="button_nein">Nein</a>
					<a href="javascript:o1d4y();" id="button_ja">Ja</a>
				</div>
				<div id="dialog_description" class="dialog_description" style="display:none">
					<span id="description"></span>
				</div>
				
</div>
</ion-content>
</ion-view>