<ion-view >
	<ion-content class="padding"><div class="dialog">
				<div class="dialog_question">
					Können Sie ein Taxi nutzen?
				</div>
				<div class="dialog_question_description" id="popupdescription"  style="height:120px;"  onclick="showPopUpMessage('<p>Es gelten die Taxikosten zum Ziel. Innerhalb des vorgegebenen Kostenrahmens können Sie demnach mit dem Taxi sogar bis vor Ihre Haustür fahren. Nutzen Sie mit mehreren Betroffenen ein Taxi gemeinsam und lassen sich jeder die Quittung für den Teilbetrag ausstellen. Die Quittung muss Name, Datum, Uhrzeit und Fahrtstrecke enthalten. Jeder Reisende kann die Erstattung für seinen Teilbetrag beantragen. Die Mobilitätsgarantie NRW garantiert nur Erstattung für tatsächlich entstandene Kosten für Taxi oder Fernverkehrsnutzung. Sie gewährt keine weitere Entschädigung für Unannehmlichkeiten. Kosten für andere Transportmittel, zum Beispiel Privat-Auto, werden nicht erstattet.</p>');">

				Es gelten die Taxikosten zum Ziel. Innerhalb des vorgegebenen Kostenrahmens können Sie demnach mit dem Taxi sogar bis vor Ihre Haustür fahren. <strong>Mehr...</strong>
				</div>


				<div class="dialog_ja_nein">
					<a href="javascript:o1d6n();" id="button_nein">Nein</a>
					<a href="javascript:o1d6y();" id="button_ja">Ja</a>
				</div>
				<div class="dialog_question" id="d6subquestion" style="display:none;">
					Verspätung tagsüber (05:00 bis 20:00 Uhr)?
				</div>				
				<div class="dialog_ja_nein" id="d6subquestion_janein" style="display:none">
					<a href="javascript:o1d6By();" id="button_ja2">Ja</a>
					<a href="javascript:o1d6Bn();" id="button_nein2">Nein</a>
				</div>
				<div id="dialog_description" class="dialog_description" style="display:none;height:120px;" onclick="showPopUpMessage('<p>Bei einer Verspätung zwischen 05:00 Uhr und 20:00    Uhr können nach der Mobilitätsgarantie die Kosten für das Taxi bis zu 25,- € pro Person erstattet werden.<br/>Bei einer Verspätung zwischen 20:00 Uhr und 05:00 Uhr können nach der Mobilitätsgarantie die Kosten für das Taxi bis zu 50,- € pro Person erstattet werden. <br/>Einige Verkehrsunternehmen und Verbünde in Nordrhein-Westfalen bieten eigene Garantieregelungen an, die einen höheren Erstattungsbetrag vorsehen. Erkundigen Sie sich bei Ihrem lokalen Verkehrsunternehmen, ob lokale Garantien für Ihr Ticket gelten.</p>');">
					<span id="description"></span>
				</div>
				<div style="height:200px">&nbsp;</div>	
				

</div>
</ion-content>
</ion-view>