<ion-view >
	<ion-content class="padding"><div class="dialog">
				<div class="dialog_question">
					Wie komme ich an meine Erstattung?
				</div>
				<div class="dialog_question_description" style="height:370px;font-size:12px;">
					Senden Sie Ihren Erstattungsantrag innerhalb von 14 Tagen nach der Fahrt an das Verkehrsunternehmen, dessen Fahrzeug verspätet war oder ausgefallen ist. 
Wenn Sie nicht wissen, welches Verkehrsunternehmen das ist, senden Sie Ihren Antrag an den Verkehrsverbund, in dessen Bereich Sie starten wollten. Stimmen Sie in diesem Fall der Weitergabe Ihrer Daten an das zuständige Verkehrsunternehmen zu. 
Sie müssen dem Erstattungsantrag Ihr Nahverkehrsticket (bei Zeitfahrkarten: in Kopie) und die Taxiquittung oder die verwendete Fahrkarte aus IC, EC oder ICE beilegen.
Der Antrag muss unterschrieben sein.
 
Beachte: Die zusätzliche Beantragung einer Kompensation nach dem Fahrgastrechtegesetz ist nicht zulässig!
				</div>
				<div style="height:150px">&nbsp;</div>	
</div>
</ion-content>
</ion-view>