<ion-view >
<ion-content>
			<div class="margintop">&nbsp;</div>
			<form name="profildatenForm" id="profildatenForm" novalidate="" > 
				
				<div class="list list-inset" >	
				  <label class="item item-input">
					<input type="text" name="vorname" placeholder="Vorname">
				  </label>
				  <label class="item item-input">
					<input type="text" name="name" placeholder="Name">
				  </label>
				  <label class="item item-input">
					<input type="email" name="email" placeholder="E-Mail-Adresse">
				  </label>
				  <label class="item item-input">
					<input type="text" name="phone" placeholder="Telefon">
				  </label>
				</div>
				
				<div class="card">
				  <div class="item item-text-wrap">
					Adresse
				  </div>
				</div>

				<div class="list list-inset" >
				  
				  <label class="item item-input">
					<input type="text" name="street" placeholder="Straße">
				  </label>
				  <label class="item item-input">
					<input type="text" name="flat" placeholder="Nr">
				  </label>
				  <label class="item item-input">
					<input type="text" name="postcode" placeholder="PLZ">
				  </label>
				  <label class="item item-input">
					<input type="text" name="city" placeholder="Ort">
				  </label>
				</div>
				
				<div class="card">
				  <div class="item item-text-wrap">
					Kontoverbindung
				  </div>
				</div>
				<div class="list list-inset" width="90%">
				  <label class="item item-input">
					<input type="text" name="account_holder" placeholder="Kontoinhaber">
				  </label>
				  <label class="item item-input">
					<input type="text" name="iban" placeholder="IBAN">
				  </label>
				  <label class="item item-input">
					<input type="text" name="bic" placeholder="BIC">
				  </label>
				</div>
				
			</form>
				
</ion-content>
</ion-view>