<ion-view >
	<ion-content>
			<div class="margintop">&nbsp;</div>
			<div class="margintop">&nbsp;</div>
				<div class="list">
					<div class="item item-divider">
						Ihre gespeicherten Formulare
					</div>
					<div class="item " ng-repeat="form in savedforms">
						<div ng-if="form.status === 'true'">
							<button ng-click="loadNeueForm($index)" class="button button-small icon ion-ios-play">
							 {{form.title}} <i class="icon ion-email"></i>								 
							 </button> 
							
							<button ng-click="deleteNeueForm($index)" class="button button-small icon ion-trash-a " style="float:right;margin-right:10px;">
							 </button>
							 <button ng-click="addCalendarEntry($index)" class="button button-small icon ion-ios-calendar-outline" style="float:right;margin-right:10px;"></button>
						</div>
						<div ng-if="form.status !== 'true'">
							<button ng-click="loadNeueForm($index)" class="button button-small icon ion-ios-play">
							 {{form.title}} <i class="icon ion-ios-compose-outline"></i>						 
							 </button> 
				 
							 <button ng-click="deleteNeueForm($index)" class="button button-small icon ion-trash-a " style="float:right;margin-right:10px;">
							 </button>
						</div>
						
					</div>
				</div>
			<div class="margintop">&nbsp;</div>
				
	</ion-content>
</ion-view>