<ion-view >
	<ion-content>
			<div class="margintop">&nbsp;</div>
			<div class="margintop">&nbsp;</div>
				<div class="list">
					<div class="item item-divider">
						Your saved forms
					</div>
					<div class="item " ng-repeat="form in savedforms">
						
						<button ng-click="loadNeueForm($index)" class="button button-small icon ion-ios-play">
						 {{form.title}} </button> 
						
						
						<button ng-click="deleteNeueForm($index)" class="button button-small icon ion-ios-minus" style="float:right;margin-left:10px;">
						 </button>
					</div>
				</div>
	</ion-content>
</ion-view>