<ion-view >
			<ion-content>
			<div class="margintop">&nbsp;</div>
			
			<form name="unpunktlichForm" id="unpunktlich" novalidate="" > 	
				<p class="infotext">
					Wenn Sie auf unpünktliche Fahrten oder unzureichende Informationen hinweisen möchten, melden Sie uns die Unpünktlichkeit. Wir möchten auch wissen, was Sie außer der Unpünktlichkeit noch gestört hat, zum Beispiel ob Ihnen Informationen fehlten. Die Ihre Angaben werden in der Schlichtungsstelle gesammelt, anonym ausgewertet und in Berichten veröffentlicht.<br/>

Die Eingabe Ihrer Mailadresse ermöglicht uns (gegebenenfalls) Rückfragen zu stellen. Wenn Sie das nicht wünschen, lassen Sie das Feld offen.
				</p>
				<div class="card">
				  <div class="item item-text-wrap">
					Persönliche daten
				  </div>
				</div>
				<div class="list list-inset">	
				  <label class="item item-input">
					<input type="text" name="vorname" placeholder="Vorname">
				  </label>
				  <label class="item item-input">
					<input type="text" name="name" placeholder="Name">
				  </label>
				  <label class="item item-input">
					<input type="email" name="email" placeholder="E-mailadresse">
				  </label>
				</div>
				<div class="card">
				  <div class="item item-text-wrap">
					Angaben zur Verspätung
				  </div>
				</div>
				<div class="list">

				<div class="list">
					<div class="item item-divider">
						Ich melde eine
					  </div>
					<li class="item item-checkbox">
						 <label class="checkbox">
						   <input type="radio" name="group">
						 </label>
						 <span style="font-size:14px;">Verfrühung</span>
				     </li>
					 <li class="item item-checkbox">
						 <label class="checkbox">
						   <input type="radio" name="group">
						 </label>
						 <span style="font-size:14px;">> 10 Minuten Verspätung</span>
				     </li>
					 <li class="item item-checkbox">
						 <label class="checkbox">
						   <input type="radio" name="group">
						 </label>
						 <span style="font-size:14px;">> 20 Minuten Verspätung</span>
				     </li>
					 <li class="item item-checkbox">
						 <label class="checkbox">
						   <input type="radio" name="group">
						 </label>
						 <span style="font-size:14px;">> 30 Minuten Verspätung</span>
				     </li>
				</div>
				
				
				<div class="list">
					<li class="item item-checkbox">
						 <label class="checkbox">
						   <input type="checkbox" name="check1">
						 </label>
						 <span style="font-size:14px;">Über die Verspätung wurde<br/>informiert</span>
				     </li>
					<li class="item item-checkbox">
						 <label class="checkbox">
						   <input type="checkbox" name="check1">
						 </label>
						 <span style="font-size:14px;">Durch die Verspätung wurde ein <br/>Anschluss verpasst</span>
				     </li>
				</div>
				<div class="list">
					  <label class="item item-input item-stacked-label" style="text-align:left">
						<span class="input-label" >Datum</span>
						<input type="date" >
					  </label>
					  <label class="item item-input item-stacked-label" style="text-align:left">
						<span class="input-label" >Planmäßige Abfahrtszeit</span>
						<input type="time">
					  </label>
					  <label class="item item-input item-stacked-label" style="text-align:left">
						<span class="input-label" >Startpunkt</span>
						<input type="text" placeholder="Startpunkt">
					  </label>
					  <label class="item item-input item-stacked-label" style="text-align:left">
						<span class="input-label" >Endpunkt</span>
						<input type="text" placeholder="Endpunkt">
					  </label>
					  <label class="item item-input item-stacked-label" style="text-align:left">
						<span class="input-label" >Linie</span>
						<input type="text" placeholder="Linie">
					  </label>
					  <label class="item item-input item-stacked-label" style="text-align:left">
						<span class="input-label" >Zusätzliche Nachricht</span>
						<textarea rows=7 placeholder="Zusätzliche Nachricht"></textarea>
						
					  </label>
					</div>
				
			</form>
			</ion-content>
			</ion-view>