<html>
  <head>
    <meta charset="utf-8">
    <title>Schlichtungsstelle Nahverkehr</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
	
	<link href="css/index_new.css" rel="stylesheet">
    <link href="lib/ionic/release/css/ionic.css" rel="stylesheet">
    <script src="lib/ionic/release/js/ionic.bundle.js"></script>
	<script src="js/image1.js"></script>
	<script src="js/image2.js"></script>
	<script src="js/image3.js"></script>
	<script src="js/image4.js"></script>
	<script src="js/image5.js"></script>
	<script src="js/imageP2.js"></script>
	<script src="lib/jquery-1.11.1.min.js"></script>
	<script src="js/storage/ls-store.js"></script>
	<script src="js/utils.js"></script>
	<script src="lib/jsPDF/jspdf.min.js"></script>
	<script src="lib/xml2json.min.js"></script>
	<script src="lib/ng-cordova.min.js"></script>
	<script src="cordova.js"></script>
	<script src="js/camera.js"></script>
	<script src="js/plugins/Calendar.js"></script>
	
	
	<script src="js/app.js"></script>
    
  </head>
  <body ng-app="todo" ng-controller="TodoCtrl">
 
 <div id="custom-overlay">
				<div class='splash'>
					<div class="logo"><img src="img/logo.png"></div>
					<div id='deviceready' class='blink'>
						<p class='event listening'><a href="#mm">App wird geladen...</a></p>
					</div>
				</div>
				<div class='bottom'>
					<img src='img/problemme.png' width=100%>
				</div>
 </div> 

    <ion-nav-view></ion-nav-view>
	
  
		<script id="templates/sidebarmenu.html" type="text/ng-template">
		  <ion-side-menus enable-menu-with-back-views="false">

			<ion-side-menu-content>
			 <div class="greenwhite bar bar-header " id="topbar" style="display:block;margin-bottom:5px;">
				<button class="button button-icon" ng-click="toggleMenu()"  >
					<i class="icon ion-navicon"></i>
				</button>
				<span class="title" id="topbartitle" style="font-size:13px;">Schlichtungsstelle Nahverkehr</span>
			</div>
			  <ion-nav-view name="menuContent"></ion-nav-view>
			  <div class="bar bar-footer bar-dark" id="bottombar" style="display:none" data-ng-show="!($state.includes('t.mainmenu'))">
				<a href="#mm" data-ng-show="!($state.includes('t.neuen')) && !($state.includes('t.neuen2')) && !($state.includes('t.mainmenu'))" id="zuruckbutton" class="button button-small button-dark" style="float:left">
					Zurück
				</a>
				<a ng-click="clearNeues()" data-ng-show="$state.includes('t.neuen')||$state.includes('t.neuen2')" id="clearbutton" class="button button-small button-dark" style="display:none;float:left;margin-left:5px;">
					Zurücksetzten
				</a>
				<a ng-click="saveNeues()" data-ng-show="$state.includes('t.neuen')" id="saveneuesbutton" class="button button-small button-dark" style="float:left;margin-left:5px;">
					Speichern
				</a>
				<a ng-click="saveLoadNeues()" data-ng-show="$state.includes('t.neuen2')" id="saveneuesbutton" class="button button-small button-dark" style="float:left;margin-left:5px;">
					Speichern
				</a>
				<a ng-click="deleteNeues()" data-ng-show="$state.includes('t.saved')" id="deleteneuesbutton" class="button button-small button-dark" style="float:left;margin-left:5px;">
					Delete all
				</a>
				<a href="#mm" id="weiterbutton" class="button button-small button-positive" style="display:none;float:right">
					Weiter
				</a>
				<a href="#f1" id="formularbutton" class="button button-small button-energized" style="display:none;float:right">
					Neues Erstattungsformular
				</a>
				<a href="#/t/unpunktlich" id="unpunktlichbutton" class="button button-small button-calm" style="display:none;float:right">
					Unpünktlichkeit melden
				</a>
				<a onclick="submitProfildaten();" id="savebutton" class="button button-small button-positive" style="display:none;float:right">
					Speichern
				</a>
				<a ng-click="submitUnpunktlich()" id="unpsendbutton" class="button button-small button-positive" style="display:none;float:right">
					Send
				</a>
			
				<a ng-click="sendPDF()" data-ng-show="$state.includes('t.neuen')" id="submitneuesbutton" class="button button-small button-positive" style="margin-right:10px;float:right">
					Generate
				</a>
				<a ng-click="sendPDF(1)" data-ng-show="$state.includes('t.neuen2')" id="submitneuesbutton" class="button button-small button-positive" style="margin-right:10px;float:right">
					Generate
				</a>
			</div>
			</ion-side-menu-content> 

			<ion-side-menu side="left">
			  <ion-header-bar class="bar-dark">
				<h1 class="title"> Menu</h1>
			  </ion-header-bar>
			  <ion-content>
				<ion-list>
								<ion-item><a menu-close href="#/t/mm"><div style="width:100%">Hauptmenu</div></a></ion-item>
								<ion-item><a menu-close href="#/t/profildaten" ><div style="width:100%">Profildaten/Vorlagen</div></a></ion-item>
								<ion-item><a menu-close href="#/t/saved" ><div style="width:100%">Meine Erstattungen</div></a></ion-item>
								<ion-item><a menu-close href="#" >Rechtliche Hinweise</a></ion-item>
								<ion-item><a menu-close href="#" >Infos zur Mobilitätsgarantie</a></ion-item>
								<ion-item><a menu-close href="#" >Build: 18.12.2015 09:20	</a></ion-item>
				</ion-list>
			  </ion-content>
			</ion-side-menu>

		  </ion-side-menus>
		</script>

  </body>
</html>